body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-title {
  font-size: 3rem;
}

.Note {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 2px solid rgb(57, 58, 59);
  border-radius: 5px;
  width: 800px;
  text-align: left;
  padding-left: 5px;
  background-color: rgb(198, 206, 214);
  color: black;
}

.Note--text {
  width: 740px;
  overflow-wrap: break-word;
  font-size: 1.5rem;
  text-align: justify;
}

.Note--controls {
  width: 40px;
  display: flex;
  flex-flow: column;
}

.Note--controls_edit,
.Note--controls_delete {
  background-color: rgb(198, 206, 214);
  border: none;
  padding: 5px 5px;
  transition: background-color 0.5s;
}

.Note--controls_edit:hover {
  background-color: coral;
}

.Note--controls_delete:hover {
  background-color: crimson;
}

.NotesCount {
  margin-bottom: 10px;
}

.Note--count {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.Controls {
  width: 800px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.Controls > *:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.Controls > button:hover {
  background-color: #c5c5c5;
}

button {
  padding: 0 0;
  transition: .2s;
}

:disabled {
  pointer-events: none;
}

input {
  font-size: 1.2rem;
  height: 32px;
}

.Controls--submitMode,
.Controls--editMode {
  height: 32px;
  font-size: 0.9rem;
  border: 0;
}

.Controls--submitMode {
  width: 160px;
}

.Controls--editMode {
  width: 80px;
}

.Controls--editMode:last-child {
  box-shadow: inset 1px 0 0 0 #9f9ea2;
}

.Controls--input {
  width: 640px;
  border: 0;
  padding-left: 5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
